
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    top: -1px;
    vertical-align: baseline;
}

.city_name_text {
    position: relative;
    z-index: 10;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
}

.search_box_input {
    margin-top: 20px;
    right: 44%;
    position: absolute;
    text-align: center;
    z-index: 10;
    width: 250px;
    height: 40px;
    background-color: rgb(231, 231, 231);
}

.search_box_button {
    margin-top: 20px;
    right: 41%;
    position: absolute;
    z-index: 11;
    width: 50px;
    height: 40px;
    background-color: rgb(56, 128, 211);
}

.search_box_button:hover {
    background-color: rgb(76, 151, 236);
}

.image {
    height: 200%;
    width: 150%;
}

.temp_name_text {
    margin-top: 30%;
    position: relative;
    z-index: 10;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.city_name_background {
    position: absolute;
    text-align: center;
    width: 40%;
    right: 30%;
    top: 10%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    
}

.temp_background {
    position: absolute;
    text-align: center;
    width: 19%;
    right: 51%;
    top: 22%;
    height: 25%;
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
}

.current_Weather {
    position: absolute;
    text-align: center;
    width: 19%;
    right: 30%;
    top: 22%;
    height: 25%;
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
}

.weather_details {
    position: absolute;
    text-align: center;
    width: 40%;
    right: 30%;
    top: 50%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    display: grid;
}

.weather_details_text {
    margin-top: 5%;
    position: relative;
    font-size: x-large;
}

.f_button {
    position: relative;
    width: 10%;
    height: 20%;
    background-color: rgb(48, 41, 41);
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 10%;
}


.c_f_button {
    position: absolute;
    right: 14%;
    top: 62%;
    width: 40%;
    height: 20%;
    z-index: 5;
}
.f_button:hover {
    font-size: large;
}